@charset "utf-8";
/* CSS Document */
h1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 50px;
	line-height: 65px;
}

h2 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
	font-size: 25px;
	line-height: 32px;
}
 
p {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size: 16px;
	line-height: 25px;
}

.phoneNumber {
	text-decoration: none !important;
	color: #000 !important;
}

.section {
	width: 100%;
}

.resumeItem {
	width: 33%;
	min-width: 150px;
	background-color: #fff;
	margin: 10px 30px;
	padding: 0px 25px;
	float: none;
	border-radius: 25px;
	position: relative;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.educationItem {
	width: 20%;
	min-height: 250px;
}

.top {
	top: 0;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	background-color: #fff;
	width: 50%;
	border-radius: 12px;
	text-align: center;
	padding: 0px 5px;
}

@media (max-width: 574px) {
	.resumeItem {
		width: 70%;
	}
	
	#fp-nav {
		display: none;
	}
}